<body>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #153461;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <div class="logo-image"> <img src="../../../assets/logo.jpeg " class="img-fluid"></div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/AdminHome']">Home</a>
                    </li>

                </ul>

                <div>
                    <div style="text-align: center; float: left; margin-right: 550px; color: white;">
                        <h3>Welcome Admin !</h3>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link btn btn-danger" [routerLink]="['/Home']">Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <div style="padding-left: 100px;">

        <button class="report" (click)="addsub=true ; fileupload=false; viewsubj= false"> ADD Subject</button>
        <button class="report" (click)="fileupload=true ; addsub=false; viewsubj= false">Admin Question File</button>
        <button class="report" (click)="viewsubj= true; fileupload=false ; addsub=false">View Subjects</button>

    </div>


    <div *ngIf="addsub">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">

                        <div class="card-body">

                            <form #Add="ngForm" name="Add" (ngSubmit)="AddSub(Add)">
                                <div>

                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="form-label-group">
                                                <label class="inp">&nbsp; Subject Name : </label><span *ngIf="sname.errors?.required && sname?.touched">&nbsp;&nbsp;&nbsp; * Subject Name cannot be blank</span>
                                                <input type="text" class="form-control" placeholder="Subject Name" name="sname" [(ngModel)]="model.sname" #sname="ngModel" required>
                                            </div>

                                        </div>
                                        <div class="col-2">
                                            <div class="form-label-group">
                                                <label class="inp">&nbsp; Total Marks : </label><span *ngIf="tmks.errors?.required && tmks?.touched">&nbsp;&nbsp;&nbsp; * Total Marks cannot be blank</span>
                                                <input type="number" class="form-control" placeholder="Total Marks" name="tmks" [(ngModel)]="model.tmks" #tmks="ngModel" required>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="form-label-group">
                                                <label class="inp">&nbsp; Passing Marks :  </label><span *ngIf="pmks.errors?.required && pmks?.touched">&nbsp;&nbsp;&nbsp; * Passing Marks cannot be blank</span>
                                                <input type="number" class="form-control" placeholder="Passing Marks" name="pmks" [(ngModel)]="model.pmks" #pmks="ngModel" required>
                                            </div>

                                        </div>
                                        <div class="col-2">
                                            <div class="form-label-group">
                                                <label class="inp">&nbsp; Exam Duration (in minutes) : </label><span *ngIf="dur.errors?.required && dur?.touched">&nbsp;&nbsp;&nbsp; * Exam Duration cannot be blank</span>
                                                <input type="number" class="form-control" placeholder="Exam Duration" name="dur" [(ngModel)]="model.dur" #dur="ngModel" required>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-label-group">
                                        <label class="inp">&nbsp; Test status : </label><span *ngIf="tstatus.errors?.required && tstatus?.touched">&nbsp;&nbsp;&nbsp; * Test status cannot be blank</span>

                                        <select class="form-control" style="border-radius:20px" name="tstatus" [(ngModel)]="model.tstatus" #tstatus="ngModel" required>
                                          <option value="enable">Enable</option>
                                          <option value="disable">Disable</option>
                                          </select>

                                    </div>

                                    <br>
                                    <button style="width: 200px;border-radius: 5rem;" class="btn btn-lg btn-primary btn-block text-uppercase" name="Addbtn" value="Add Subject" [disabled]="Add.invalid">Add Subject</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="fileupload">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">

                        <div class="card-body">
                            <form #fileform="ngForm" name="fileform" (ngSubmit)="uploadFile(fileform)">

                                <div class="form-label-group">

                                    <label class="form-label">&nbsp; Question Set Excel File :</label>
                                    <input type="file" class="form-control" #fileInput required />
                                    <!-- <input class="form-control" type="file" #fileInput required class="file" /> -->

                                </div>

                                <div class="form-label-group">
                                    <label class="inp">&nbsp; Subject Name :  </label>

                                    <select class="form-control" style="border-radius:20px" name="subject" #subject="ngModel" [(ngModel)]="model.subject" required>
                                        <option *ngFor="let item of slist" [value]="item.SubjectId">{{item.Subject}}</option>
                                        </select>
                                </div>

                                <button style="width: 200px;border-radius: 5rem;" class="btn btn-lg btn-primary btn-block text-uppercase" name="Addbtn" value="Add Excel File" [disabled]="fileform.invalid">Add Excel File</button>

                                <div>
                                    <h4 class="alert-success">{{message}}</h4>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="viewsubj">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">

                        <div class="card-body">

                            <div class="table-responsive" *ngIf="tablevisible">

                                <table class="table table-striped" style="text-align: center;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Subject ID</th>
                                            <th scope="col">Subject</th>
                                            <th scope="col">Total mark</th>
                                            <th scope="col">Passing mark</th>
                                            <th scope="col">Exam Duration</th>
                                            <th scope="col">Tstatus</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let subj of slist; let j=index">
                                            <td>{{subj.SubjectId}}</td>
                                            <td>{{subj.Subject}}</td>
                                            <td>{{subj.TotalMark}}</td>
                                            <td>{{subj.PassingMark}}</td>
                                            <td>{{subj.ExamDuration}}</td>
                                            <td>{{subj.TStatus}}</td>
                                            <td><button class="updatebtn" (click)="Update(subj,j)">Update</button> | <button class="deletebtn text-uppercase" (click)="Update(subj,j)">Delete</button>
                                            </td>
                                            <!-- | <button (click)="delete(subj.SubjectId)">Delete</button> -->
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <br><br>

                            <div *ngIf="updateformvisible">
                                <form #UpdateForm="ngForm" name="UpdateForm" (ngSubmit)="UpdateSubmit(UpdateForm)">
                                    <div>
                                        <div class="row row-space">
                                            <div class="col-2">
                                                <div class="form-label-group">
                                                    <label class="inp">&nbsp; Subject Name : </label>
                                                    <input type="text" class="form-control" placeholder="Subject Name" name="sname" [(ngModel)]="update.sname" #sname="ngModel">
                                                </div>

                                            </div>

                                            <div class="col-2">
                                                <div class="form-label-group">
                                                    <label class="inp">&nbsp; Total Marks : </label>
                                                    <input type="number" class="form-control" placeholder="Total Marks" name="tmks" [(ngModel)]="update.tmks" #tmks="ngModel">
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row row-space">
                                            <div class="col-2">
                                                <div class="form-label-group">
                                                    <label class="inp">&nbsp; Passing Marks :  </label>
                                                    <input type="number" class="form-control" placeholder="Passing Marks" name="pmks" [(ngModel)]="update.pmks" #pmks="ngModel">
                                                </div>

                                            </div>
                                            <div class="col-2">
                                                <div class="form-label-group">
                                                    <label class="inp">&nbsp; Exam Duration (in minutes) : </label>
                                                    <input type="number" class="form-control" placeholder="Exam Duration" name="dur" [(ngModel)]="update.dur" #dur="ngModel">
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-label-group">
                                            <label class="inp">&nbsp; Test status : </label>

                                            <select class="form-control" style="border-radius:20px" name="tstatus" [(ngModel)]="update.tstatus" #tstatus="ngModel">
                                      <option value="enable">Enable</option>
                                      <option value="disable">Disable</option>
                                      </select>

                                        </div>

                                        <br>
                                        <button style="width: 200px;border-radius: 5rem;" class="btn btn-lg btn-primary btn-block text-uppercase" name="Update" value="Update" [disabled]="UpdateForm.invalid">Update Subject</button>

                                    </div>
                                </form>
                            </div>





                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</body>

<footer style="background-color: #153461;">
    <p>
        <b>
    © 2021 Larsen & Toubro Infotech Limited
  </b>
    </p>
</footer>
