/* .container {
    border-style: solid;
    border-color: black;
    text-align: left;
    display: block;
    width: 800px;
    height: 600px;
    margin-top: 20px;
    background-color: rgb(243, 242, 242);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

p {
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
}

.button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background-color: darkred;
    transform: scale(1.2, 1.2);
}

.rowheadlen {
    width: 150px;
}

.error {
    width: 250px;
}

span {
    font-size: 15px;
    color: red;
}

input[type=text],
input[type=email],
input[type=number],
input[type=date],
input[type=time]
input[type=file]
{
    padding: 3px;
    width: 250px;
    height: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.searchform {
    margin-left: auto;
    margin-right: auto;
}

.searchform th,
td select {
    height: 50px;
    width: 250px;
    font-size: 20px;
    margin-top: 20px;
}

.menu {
    margin-bottom: 70px;
}

.menulist li {
    float: left;
    list-style: none;
}

.menulist li a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-weight: bold;
}

.menubutton {
    float: right;
}

.menubutton a {
    text-decoration: none;
    margin-left: 20px;
    height: 30px;
    width: 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: grey;
    margin-right: 20px;
    color: black;
}

.quesoptn {
    margin: auto;
    text-align: center;
    display: block;
    width: 400px;
    height: 150px;
}

.quesoptn li {
    margin-left: 20px;
    color: black;
    font-weight: bold;
    width: 100px;
}

.soln {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    display: block;
    width: 300px;
}

.filesection
{
    margin-left: 250px;
   margin-top: 100px;

}

.drop
{
width:300px;
height:25px;
margin-top: 2px;
}

.file
{
width:300px;
height:25px;
margin-bottom: 10px;
}

.filesection input[type=submit]{
    height:35px;
    margin-top: 10px;

} */


/* .container {
    border-style: solid;
    border-color: black;
    text-align: center;
    display: block;
    width: 800px;
    height: 600px;
    margin-top: 20px;
    background-color: rgb(243, 242, 242);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    ;
} */

.logo-image {
    width: 120px;
    height: 50px;
    overflow: hidden;
    margin-top: -6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.col-2 {
    width: 50%;
}

body {
    background: #007bff;
    background: linear-gradient(135deg, #0d6efd, #a0c7e0);
    height: 150%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3687f5;
    color: black;
}

.card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
    background-size: cover;
}

span {
    color: red;
    float: right;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin {
    padding: 2rem;
}

.card-body {
    width: 100%;
    height: 100%;
}

.updatebtn {
    color: #fff;
    background-color: #4caf50;
    text-transform: uppercase!important;
    padding: .375rem .75rem;
    border-radius: 20px;
    border-color: white;
    width: 70px;
    height: 30px;
    font-size: 10px;
}

.deletebtn {
    color: #fff;
    background-color: #dd4949;
    text-transform: uppercase!important;
    padding: .375rem .75rem;
    border-radius: 20px;
    border-color: white;
    width: 70px;
    height: 30px;
    font-size: 10px;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.inp {
    padding-bottom: 10px;
}

.report {
    height: 70px;
    width: 200px;
    background-color: lawngreen;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 140px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 19px;
}
