<div class="container">

    <div class="menu">
        <ol class="menulist">
            <li>
                <a [routerLink]="['/Home']">Home</a>
            </li>
        </ol>
        <div class="menubutton">
            <a [routerLink]="['/Home']">Logout</a>
        </div>
    </div>
    <hr>
    <div class="quesoptn">
        <div>
            <p>The question to be added from the file</p>
        </div>
        <div>
            <ol type="a">
                <li>
                    Option 1
                </li>
                <li>
                    Option 2
                </li>
                <li>
                    Option 3
                </li>
                <li>
                    Option 4
                </li>
            </ol>
        </div>
    </div>
    <div class="soln">
        <table>
            <tr>
                <td>
                    <b>Correct : </b>
                </td>
                <td><input type="text" style="width:50px"></td>
            </tr>
        </table>
    </div>
    <button class="button">Add</button><br>
</div>