<div class="container">
    <h1>Reset Password</h1>
    <hr />
    <div id="divone">
        <p id="pone">We have sent a reset password link to your email.</p>
    </div>
    <div id="divtwo">
        <table id="tableone">
            <tr>
                <th>New Password :</th>
                <td><input type="password" placeholder="Password" name="pass1" /></td>
            </tr>
            <tr>
                <th>Confirm password :</th>
                <td><input type="password" placeholder="Confirm Password" name="pass2" /></td>
            </tr>
            <tr>
                <th></th>
                <td><button class="button">Reset</button></td>
            </tr>
        </table>
    </div>
</div>