<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Online Exam System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/Home']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="AboutUs=true;buttondiv=false;">About Us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/Login']">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/Register']">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div *ngIf="AboutUs">
        <hr>
        <p><b>Wellcome to Easy Exam  System!!!</b></p>
        <p>
            This Online Examination System is helpful for students, companies or any organization to conduct any examinations from this site. In this age of increased competition, various companies, organization’s face a common problem of conducting online exam by
            personally visiting to different colleges (in case of companies) for placement drives. this platform will help the deserving candidates to showcase their conceptual skills through an online exam, based on which, the companies can filter out
            candidates according to their needs. Our Exam Management Software provides exams at the local level to facilitate examination. During the exam, strict guidelines are followed and the exam date timetable adheres to them. Our examination process
            is fully automated and no manual intervention is required. Our software allows the proctored exam schedule where a level of exams can be taken. Exam Creator Software enables local and official exam creation where, teachers, administrators,s
            or examiners can create exams based on school capacity and standards. The exam management system is best suited for graduate programs. Our exams can be conducted individually or as a group of students like classes.
        </p>
        <img [src]="myimg">
        <button (click)="buttondiv=true;AboutUs=false;">Back</button>
    </div>
    <div *ngIf="EmailVerify">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-body">
                        <h2>Forgot your password?</h2>
                        <p>Change your password in three easy steps. This will help you to secure your password!</p>
                        <ol class="list-unstyled">
                            <li><span class="text-primary text-medium">1. </span>Enter the Email Address to send the OTP</li>
                            <li><span class="text-primary text-medium">2. </span>Our system will send an OTP to the Email Id entered </li>
                            <li><span class="text-primary text-medium">3. </span>Use the OTP to reset your password</li>
                        </ol>
                        <form #EmailVerify="ngForm" name="EmailVerify" (ngSubmit)="emailChk(EmailVerify)">

                            <div class="form-label-group">
                                <label class="inp">&nbsp; Email-id:</label>
                                <span class="span1" *ngIf="Email.errors?.required">&nbsp;&nbsp;&nbsp; * Email cannot be blank</span>
                                <span class="span1" *ngIf="Email.errors?.pattern">&nbsp;&nbsp;&nbsp; * Invalid Format</span>
                                <input type="email" class="form-control" placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="Email" [(ngModel)]="model.Email" #Email="ngModel" required>
                            </div>

                            <button style="border-radius: 100px;" class="btn btn-lg btn-primary btn-block text-uppercase" name="verificationLink" [disabled]="EmailVerify.invalid">Send verification link</button>

                        </form>
                        <div *ngIf="Acknowledgement">
                            <p id="pone">We have sent a reset password link to your email.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="ResetPwd">

        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-body">

                        <form class="form-signin" #PassReset="ngForm" name="PassReset" (ngSubmit)="ResetPassword(PassReset)">
                            <div class="form-label-group">
                                <label class="inp">&nbsp; OTP :</label>
                                <span class="span1" *ngIf="otp.errors?.required && otp?.touched"> &nbsp;&nbsp;&nbsp; * OTP cannot be blank</span>
                                <input type="number" class="form-control" placeholder="Enter your OTP" name="otp" maxlength="4" [(ngModel)]="model.otp" #otp="ngModel" required>
                            </div>



                            <div class="form-label-group">
                                <label class="inp">&nbsp;New Password :</label>
                                <span class="span1" *ngIf="pass.errors?.required && pass?.touched">&nbsp;&nbsp;&nbsp; * Password cannot be blank</span>
                                <span class="span1" *ngIf="pass.errors?.pattern">&nbsp;&nbsp;&nbsp; * Invalid Format</span>
                                <span class="span1" *ngIf="pass.errors?.minlength">&nbsp;&nbsp;&nbsp; * Minimum password length must be 4 characters</span>
                                <input type="password" class="form-control" placeholder=" Enter your New Password" name="pass" [(ngModel)]="model.pass" #pass="ngModel" minlength="4" maxlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@$!%?&])[A-Za-z0-9@$!%?&]{4,8}$" required>
                            </div>


                            <div class="form-label-group">
                                <label class="inp">&nbsp;Confirm Password :</label>
                                <span class="span1" *ngIf="pass2.errors?.required && pass2?.touched">&nbsp;&nbsp;&nbsp; * Cannot be blank</span>
                                <input type="password" class="form-control" placeholder=" Retype your New Password" name="pass2" [(ngModel)]="model.pass2" #pass2="ngModel" required>
                            </div>

                            <div>

                            </div>
                            <br>

                            <button style="width: 220px;" class="btn btn-lg btn-primary btn-block text-uppercase" name="Submit" [disabled]="PassReset.invalid">Reset Password</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>


    </div>



</body>

<footer>
    <p>
        <b>
© 2021 Larsen & Toubro Infotech Limited
</b>
    </p>
</footer>

<!-- <div class="container">
    <h1>Reset Password</h1>
    <hr />
    <div class="StudenLogin" *ngIf="EmailVerify">
        <form #EmailVerify="ngForm" name="EmailVerify" (ngSubmit)="emailChk(EmailVerify)">
            <h1>EZ</h1>
            <table>
                <tr>
                    <td>Email-id:</td>
                    <td><input type="email" placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="Email" [(ngModel)]="model.Email" #Email="ngModel" required>
                        <span *ngIf="Email.errors?.required">Email cannot be blank</span>
                        <span *ngIf="Email.errors?.pattern">Invalid Format</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button name="verificationLink" [disabled]="EmailVerify.invalid">Send verification link</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div id="divone" *ngIf="Acknowledgement">
        <p id="pone">We have sent a reset password link to your email.</p>
    </div>


    <div id="divtwo" *ngIf="ResetPwd">
        <form #PassReset="ngForm" name="PassReset" (ngSubmit)="ResetPassword(PassReset)">
            <table id="tableone">
                <tr>
                    <th>OTP :</th>
                    <td><input type="number" placeholder="OTP" name="otp" maxlength="4" [(ngModel)]="model.otp" #otp="ngModel" required /></td>
                    <span *ngIf="otp.errors?.required">Enter OTP </span>
                </tr>
                <tr>
                    <th>New Password :</th>
                    <td>
                        <input type="password" placeholder="Enter Password" name="pass" [(ngModel)]="model.pass" #pass="ngModel" minlength="4" maxlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@$!%?&])[A-Za-z0-9@$!%?&]{4,8}$" required>
                        <span *ngIf="pass.errors?.required && pass?.touched">
                            &nbsp;&nbsp;<br>*Password cannot be blank
                        </span>
                        <span *ngIf="pass.errors?.pattern">
                            &nbsp;&nbsp;<br>*Password should have minimum 1 in all of these uppercase,
                            lowercase, digits and special characters
                        </span>
                        <span *ngIf="pass.errors?.minlength">
                            &nbsp;&nbsp;<br>*Minimum password length must be 4 characters
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Confirm password :</th>
                    <td><input type="password" placeholder="Confirm Password" name="pass2" ngValidateEqual="pass" [(ngModel)]="model.pass2" #pass2="ngModel" required /></td>
                </tr>
                <tr>
                    <th></th>
                    <td><button class="button" [disabled]="PassReset.invalid">Reset Password</button></td>
                </tr>
            </table>
        </form>
    </div>
</div> -->
