
.container {
  border-style: solid;
  border-color: black;
  text-align: center;
  display: block;
  width: 800px;
  height: 600px;
  margin-top: 20px;
  background-color: rgb(243, 242, 242);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  
}


#divone {
  margin-top:10%;
  width: 48%;
  height:60%;
  border-style:solid;
  float:left;
}
#divtwo {
  margin-top: 10%;
  width: 48%;
  height: 60%;
  border-style: solid;
  float: right;
}

#pone{
    margin-top:40%;
    font-size:large;
}
#tableone
{
    margin-top:20%;
    margin-left:05%
}
input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.button {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
}
button:hover {
  background-color: darkred;
  transform: scale(1.2,1.2);
}
