<div class="container">
    <h1>
        Login
    </h1>

    <hr>
    <button (click)="StudentLogin()"> Student Login</button>
    <button (click)="AdminLogin()">Admin Login</button>

    <div class="StudenLogin" *ngIf="Student">
        <form #login="ngForm" name="login" (ngSubmit)="loginData(login)">
            <h1>Students Login</h1>
            <table>
                <tr>
                    <td>Email-id:</td>
                    <td><input type="email" placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="Email" [(ngModel)]="model.Email" #Email="ngModel" required>
                        <span *ngIf="Email.errors?.required">Email cannot be blank</span>
                        <span *ngIf="Email.errors?.pattern">Invalid Format</span>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" placeholder="Enter Password" name="pass" [(ngModel)]="model.pass" #pass="ngModel" maxlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@$!%?&])[A-Za-z0-9@$!%?&]{4,8}$" required>
                        <span *ngIf="pass.errors?.required">Password cannot be blank</span>
                        <span *ngIf="pass.errors?.pattern">Invalid Format</span>
                    </td>
                    <td><a [routerLink]="['/PassReset']">Forgot Password?</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button name="Login" [disabled]="login.invalid" >Login</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Don't have an account <a [routerLink]="['/Register']">Register here.</a></td>
                </tr>
            </table>


        </form>
    </div>
    <div class="AdminLogin" *ngIf="Admin">
        <form #login="ngForm" name="login" (ngSubmit)="loginData(login)">
            <h1>Admin Login</h1>
            <table>
                <tr>
                    <td>Email-id:</td>
                    <td><input type="email" placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="Email" [(ngModel)]="model.Email" #Email="ngModel" required>
                        <span *ngIf="Email.errors?.required">Email cannot be blank</span>
                        <span *ngIf="Email.errors?.pattern">Invalid Format</span>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" placeholder="Enter Password" name="pass" [(ngModel)]="model.pass" #pass="ngModel" maxlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@$!%?&])[A-Za-z0-9@$!%?&]{4,8}$" required>
                        <span *ngIf="pass.errors?.required">Password cannot be blank</span>
                        <span *ngIf="pass.errors?.pattern">Invalid Format</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button name="Login" [disabled]="login.invalid" [routerLink]="['/AdminHome']">Login</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>