
<div class="container">
    <form>
        <h1 >Login</h1>
        <table >
            
            <tr>
                <td>Email-id:</td>
                <td><input type="email" placeholder="Enter Email" required>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" placeholder="Enter Password" required>
                </td>
                <td><a href="#">Forgot Password?</a></td>
            </tr>
            <tr>
                <td></td>
                <td><button name="Login">Login</button></td>
            </tr>
            <tr>
                <td></td>
            <td>Don't  have an account <a href="#Register" >Register here.</a></td>
            </tr>
        </table>
    </form>
</div>
 


