<div class="container">

    <div class="menu">
        <ol class="menulist">
            <li>
                <a href="#">Home</a>
            </li>
        </ol>
        <div class="menubutton">
            <a href="#">Logout</a>
        </div>
    </div>
    <hr>
    <table class="searchform">
        <tr>
            <th>Select Test : </th>
            <td>
                <select name="test">
                <option value=".Net">.Net</option>
                <option value="Java">Java</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
            </td>
        </tr>
        <tr>
            <th>Select File : </th>
            <td>
                <select name="file">
                <option value="file 1">files available in the folder</option>
                </select>
            </td>
        </tr>
    </table>
    <button class="button">Remove</button><br>
</div>