<div class="container">

    <div class="menu">
        <ol class="menulist">
            <li>
                <a [routerLink]="['/Home']">Home</a>
            </li>
        </ol>
        <div class="menubutton">
            <a [routerLink]="['/Home']">Logout</a>
        </div>
    </div>
    <hr>
    <form  #Deleteform="ngForm" name="Deleteform" (ngSubmit)="DeleteByName(Deleteform)">

    
    <table class="searchform">
        <tr>
            <td>Select Test : </td>
            <td>
                <select type="text" name="fid" [(ngModel)]="model.fid" #fid="ngModel" required>
                <option *ngFor="let item of plist"  [value]="item.SubjectId">{{item.FileName}}</option>
                </select>
    </td>
    </tr>
    
    
    <tr>
        <td>
    
        <button class="button" type="submit" [disabled]="Deleteform.invalid" >Delete Question</button>
 
            </td>
        </tr>
        
    </table>
       

</form>