<body>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #153461;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <div class="logo-image"> <img src="../../../assets/logo.jpeg " class="img-fluid"></div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/AdminHome']">Home</a>
                    </li>

                </ul>

                <div>
                    <div style="text-align: center; float: left; margin-right: 550px; color: white;">
                        <h3>Welcome Admin !</h3>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link btn btn-danger" [routerLink]="['/Home']">Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>




    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-body">
                        <form #Deleteform="ngForm" name="Deleteform" (ngSubmit)="DeleteByName(Deleteform)">
                            <div class="form-label-group">
                                <label class="inp">&nbsp; Select Test :   </label>
                                <select class="form-control" style="border-radius:20px" type="text" name="fid" [(ngModel)]="model.fid" #fid="ngModel" required>
                                <option *ngFor="let item of plist"  [value]="item.SubjectId">{{item.FileName}}</option>
                                </select>
                            </div>
                            <br>
                            <button style="width: 270px;border-radius: 5rem;" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="Deleteform.invalid">Remove Question File</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






</body>

<footer style="background-color: #153461;">
    <p>
        <b>
    © 2021 Larsen & Toubro Infotech Limited
  </b>
    </p>
</footer>
