<div class="container">

    <div class="menu">
        <ol class="menulist">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">AboutUs</a>
            </li>
        </ol>
        <div class="menubutton">
            <a href="#">Login</a>

        </div>
    </div>


    <hr>

    <form>
        <div class="regsec">
            <br>
            <table>
                <tr>
                    <td><label><b>Full Name : </b></label></td>
                    <td><input type="text" placeholder="Full Name" name="name"></td>
                </tr>
                <br>
                <tr>
                    <td><label><b>Email : </b></label></td>
                    <td><input type="email" placeholder="Email ID" name="email"></td>
                </tr>
                <br>
                <tr>
                    <td><label><b>Mobile Number : </b></label></td>
                    <td><input type="number" placeholder="Mobile Number" name="mobno"></td>
                </tr>
                <br>
                <tr>
                    <td><label><b>City : </b></label></td>
                    <td><input type="text" placeholder="City" name="city"></td>
                </tr>
                <br>
                <tr>
                    <td><label><b>State : </b></label></td>
                    <td><input type="text" placeholder="State" name="state"></td>
                </tr>
                <br>
                <tr>
                    <td><label><b>DOB : </b></label></td>
                    <td><input type="date" placeholder="Date Of Birth" name="dob"></td>
                </tr>
                <br>
                <tr>
                    <td><label><b>Qualification : </b></label></td>
                    <td><input type="text" placeholder="Qualification" name="qual"></td>
                </tr>
                <br>
                <tr>
                    <td><label><b>Year of Completion : </b></label></td>
                    <td><input type="month" placeholder="Year Of Completion" name="yoc"></td>
                </tr>
                <br>
                <tr>
                    <td> <label><b>Captcha : </b></label></td>
                    <td><input type="text" placeholder="captcha" name="name"></td>
                </tr>
                <br>
                <tr>
                    <td></td>
                    <td><button class="subbtn"> Submit</button></td>
                </tr>
            </table>
        </div>
    </form>

</div>