<div class="container">
    <div class="menu">
        <ol class="menulist">
            <li>
                <a [routerLink]="['/Home']">Home</a>
            </li>
            <li>
                <a href="#">AboutUs</a>
            </li>
        </ol>
        <div class="menubutton">
            <a [routerLink]="['/Login']">Login</a>
        </div>
    </div>

    <hr>

    <form #Reg="ngForm" name="Reg" (ngSubmit)="RegData(Reg)">
        <div class="regsec">
            <br>
            <fieldset>
                <legend>Register</legend>
                <table>
                    <tr>
                        <td class="rowheadlen"><label><b>Full Name : </b></label></td>
                        <td>
                            <input type="text" placeholder="Enter Your Full Name" name="name" [(ngModel)]="model.name" #name="ngModel" required>
                        </td>
                        <td>
                            <span *ngIf="name.errors?.required && name?.touched">
                                &nbsp;&nbsp;*Name cannot be blank
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td><label><b>Email : </b></label></td>
                        <td class="iplen">
                            <input type="email" placeholder="Enter Email ID" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="model.Email" #Email="ngModel" required>
                        </td>
                        <td>
                            <span *ngIf="Email.errors?.required && Email?.touched">
                                &nbsp;&nbsp;*Email cannot be blank
                            </span>
                            <span *ngIf="Email.errors?.pattern">
                                &nbsp;&nbsp;*Invalid Format
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td><label><b>Mobile Number : </b></label></td>
                        <td>
                            <input type="number" placeholder="Enter Mobile Number" name="mobno" [(ngModel)]="model.mobno" #mobno="ngModel" pattern="^[0-9]{10}$" required>
                        </td>
                        <td>
                            <span *ngIf="mobno.errors?.required && mobno?.touched">
                                &nbsp;&nbsp;*Mobile no cannot be blank
                            </span>
                            <span *ngIf="mobno.errors?.pattern">
                                &nbsp;&nbsp;*Mobile no has to be numeric and of 10 digits
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td><label><b>City : </b></label></td>
                        <td>
                            <input type="text" placeholder="Enter City" name="city" [(ngModel)]="model.city" #city="ngModel" required>
                        </td>
                        <td>
                            <span *ngIf="city.errors?.required && city?.touched">
                                &nbsp;&nbsp;*City cannot be blank
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td><label><b>State : </b></label></td>
                        <td>
                            <input type="text" placeholder="Enter State" name="state" [(ngModel)]="model.state" #state="ngModel" required>
                        </td>
                        <td>
                            <span *ngIf="state.errors?.required && state?.touched">
                                &nbsp;&nbsp;*State cannot be blank
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td><label><b>DOB : </b></label></td>
                        <td>
                            <input type="date" placeholder="Enter Your Date Of Birth" name="dob" [(ngModel)]="model.dob" #dob="ngModel" required>

                        </td>
                        <td>
                            <span *ngIf="dob.errors?.required && dob?.touched">
                                &nbsp;&nbsp;*Date Of Birth cannot be blank
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td><label><b>Qualification : </b></label></td>
                        <td>
                            <input type="text" placeholder="Enter Qualification" name="qual" [(ngModel)]="model.qual" #qual="ngModel" required>
                        </td>
                        <td>
                            <span *ngIf="qual.errors?.required && qual?.touched">
                                &nbsp;&nbsp;*Qualification cannot be blank
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td><label><b>Year of Completion : </b></label></td>
                        <td>
                            <input type="month" placeholder="Enter Year Of Completion" name="yoc" [(ngModel)]="model.yoc" #yoc="ngModel" required>
                        </td>
                        <td>
                            <span *ngIf="yoc.errors?.required && yoc?.touched">
                                &nbsp;&nbsp;*Year Of Completion cannot be blank
                            </span>

                        </td>
                    </tr>

                    <tr>
                        <td><label><b>Password : </b></label></td>
                        <td>

                            <input type="password" placeholder="Enter Password" name="pass" [(ngModel)]="model.pass" #pass="ngModel" minlength="4" maxlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@$!%?&])[A-Za-z0-9@$!%?&]{4,8}$" required>

                        </td>
                        <td style="width: 500px;">

                            <span *ngIf="pass.errors?.required && pass?.touched">
                                &nbsp;&nbsp;*Password cannot be blank
                            </span>

                            <span *ngIf="pass.errors?.pattern">
                                &nbsp;&nbsp;*Password should have minimum 1 in all of these uppercase, lowercase, digits and special characters
                            </span>

                            <br>

                            <span *ngIf="pass.errors?.minlength">
                                &nbsp;&nbsp;*Miinimum password length must be 4 characters
                            </span>

                        </td>
                    </tr>

                    <tr>
                        <td> <label><b>Captcha : </b></label></td>
                        <td><input type="text" placeholder="captcha" name="name"></td>
                    </tr>


                    <tr>
                        <td></td>
                        <td><input type="submit" class="button" name="Reg" [disabled]="Reg.invalid"></td>
                    </tr>

                </table>

            </fieldset>

        </div>

    </form>

</div>