<div class="container">

    <div class="examlist" *ngIf="examlist">

        <h1>Select Exam</h1>
        <h2><a [routerLink]="['/Home']" (click)=logout()>logout</a></h2>
        <br><br><br>
        
            <div *ngFor="let item of slist">
                    
                    <div class="domain" (click)="start(item.SubjectId)" [ngClass]="{disable: item.TStatus=='disable'}">{{item.Subject}}</div>
            </div>
              
         

    </div>

    <div class="instruction" *ngIf="instruction && presentlevel!=3">

        <h2><a [routerLink]="['/Home']">logout</a></h2>
        <h1>Instruction For Test</h1>
        <ul >
        <li style="float: left;">The examination will comprise of Objective type Multiple Choice Questions (MCQs).</li>
        <li style="float: left;">All questions are compulsory and each carries  mark according to level.</li>
        <li style="float: left;">The examination will comprise of Three levels,complition of one level will redirect student to another level.</li>
        <li style="float: left;">Every student will take the examination on a Laptop/Desktop.</li>
        <li style="float: left;">The total number of questions, duration of examination, will be different based on level, the detail is available on your screen.</li>
        <li style="float: left;">For Multiple Choice Questions, each question has four options, and the candidate has to click the appropriate option.</li>
        <li style="float: left;">There will be NO NEGATIVE MARKING for the wrong answers.</li>
        <li style="float: left;">The students just need to click on the Right Choice/Correct option from the multiple choices /options given with each question.</li>

    </ul>
        <button class="starttest" (click)="examstarts()">Start Test</button>
        <div class="instructiontimecounter">
      

    </div>
  </div>

  <!-- score card display div -->

<div id="score" *ngIf="Scorediv" >

  
  <br>
  <h2 id="pone"><b>Score Card</b><br>
  Result Status : {{ResultStatus}}</h2>
  <hr>

  <div *ngFor="let item of studlist">
 
 

    <div *ngIf="item.StudentId==presentstudid">
     
  
  <div id="divone" *ngIf="pass">
  
      <div *ngIf="(presentlevel+1)!=3 && ResultStatus!='Fail'">
        <br><br>
        <p id="pone"><b>Thank You !!!!</b></p>
        <p id="pone"><b>You have cleared the {{presentlevel + 1}}</b></p>
        <p id="pone"><b>You can proceed to{{presentlevel + 2}}</b></p>
    </div>
    <div style="margin-top: 150px;">
        <button class="button"  *ngIf="(presentlevel+1)!=3" (click)="next()"> level {{presentlevel + 2}}</button>
    </div> 
    <div *ngIf="(presentlevel+1)==3">
      <h1>Congrats for clearing all level</h1>
    </div>
 
 
      </div>

  

  <div id="divone" *ngIf="fail">
      <div style="margin-top: 100px;">
          <br><br>
          <p id="pone"><b> Please Try Again</b></p>
         
      </div>
  </div>


  <div id="divtwo">
      <table id="tableone">
          <tr>
              <td>Name : {{item.Name}}</td>
              <td></td>
          </tr>
          <tr>
              <td>Score : {{Score}}</td>
              <td></td>
          </tr>
          <tr *ngIf="fail">
              <td>Level : {{presentlevel}}</td>
              <td></td>
          </tr>
          <tr *ngIf="pass">
            <td>Level : {{presentlevel+1}}</td>
            <td></td>
        </tr>
          <tr>
              <td>Test :{{subjectname}} </td>
              <td></td>
          </tr>
      </table>
      <button class="button" (click)="logout()">Exit</button>
  </div>
</div>
</div>
</div>
  

  <!-- score card display end -->




 
  <div class="ExamPage" *ngIf="ExamStarts && presentlevel!=3">

    <h2><button (click)="CalculateScore()" class="scorebutton">Submit</button></h2>


    <!-- code for counter start -->
    <div *ngFor="let item of slist">
    <div *ngIf="item.SubjectId== getsession">
        
      <p class="instructiontimecounter">  Timer:<countdown [config]="{leftTime:item.ExamDuration*60}" (event)="timesUp($event)"></countdown></p>
    </div>
  </div>
    <!-- counter end -->



    <h1>
      Level {{presentlevel + 1 }}
    </h1>
    <hr/>
    
    <div class="gridContainer" *ngFor="let item of gridnumber">
      <button class="qusngrid"   (click)="switchQsn(item)" [ngClass]="{marked: selectoptionlist[this.cqno]}"> <span>{{item}}</span></button>  
    </div>

    <div class="question">
     
      <div *ngFor="let item of qusnlistbysublevel">
      
        
        <div *ngIf="item.QID==cqid">
          <div class="review"><input type="checkbox" name="review" >review</div>
          <h3>Current Question {{cqno+1}}/{{lastqno}}</h3><br /><br />
          
          <p class="quest">{{item.Qsn}}</p><br /><br />
          <br />A. <input type="radio" name="option" value="{{item.Opt1}}"  (click)="selectedlist(item.Opt1)" [checked]="item.Opt1==selectoptionlist[cqno]"/> {{item.Opt1}}
          <br />B. <input type="radio" name="option" value="{{item.Opt2}}" (click)="selectedlist(item.Opt2)" [checked]="item.Opt2==selectoptionlist[cqno]"/> {{item.Opt2}}
          <br />C. <input type="radio" name="option" value="{{item.Opt3}}" (click)="selectedlist(item.Opt3)" [checked]="item.Opt3==selectoptionlist[cqno]"/> {{item.Opt3}}
          <br />D. <input type="radio" name="option" value="{{item.Opt4}}" (click)="selectedlist(item.Opt4)" [checked]="item.Opt4==selectoptionlist[cqno]"/> {{item.Opt4}}
        </div>


      </div>
     
     


      <button class="questionbutton" name="prev" (click)= "decrement()" [disabled]="cqno==0">Prev</button>
      <button class="questionbutton" name="next" (click)="increment()" [disabled]="cqno==lastqno-1">Next</button>

    </div>
    


  </div>

    <div *ngIf="presentlevel==3">
      <div *ngIf="examlist!=true">
      <h1>You Have cleared all the level of this Subject !! Pls Explore Other Subject</h1>
      <button (click)="examlist=true">Back</button>
    </div>
      </div>


  
  
</div>
