<div class="container">

    <div class="examlist" *ngIf="examlist">

        <h1>Select Exam</h1>
        <h2><a [routerLink]="['/Home']">logout</a></h2>
        <br><br><br>
        <table>
            <tr>
                <td>
                    <div class="domain" (click)="start()">JAVA</div>
                </td>
                <td>
                    <div class="domain">SQl</div>
                </td>
                <td>
                    <div class="domain">will iterate using for loop</div>
                </td>
            </tr>

        </table>

    </div>

    <div class="instruction" *ngIf="instruction">

        <h2><a [routerLink]="['/Home']">logout</a></h2>
        <h1>Instruction For Test</h1>
        <button class="starttest">Start Test</button>
        <div class="instructiontimecounter">
            timer

        </div>
    </div>

</div>