<body>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #153461;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <div class="logo-image"> <img src="../../../assets/logo.jpeg " class="img-fluid"></div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
            <div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link btn btn-danger" (click)="logout()">Logout</a>
                    </li>
                </ul>


            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-body">

                        <div>
                            <div class="examlist" *ngIf="examlist">

                                <a>
                                    <div [routerLink]="['/Home']"> <img style="width: 40px;float: left;" src="../../../assets/left-arrow.png "></div>
                                </a>


                                <h1 style="text-align: center;">Select Exam</h1>
                                <!-- <h2><a [routerLink]="['/Home']" (click)=logout()>logout</a></h2>  -->
                                <br>

                                <div *ngFor="let item of slist">
                                    <button type="button" class="domain" (click)="start(item.SubjectId)" [ngClass]="{disable: item.TStatus=='disable'}">{{item.Subject}}</button>
                                </div>

                            </div>

                            <div class="instruction" *ngIf="instruction && presentlevel!=3">

                                <!-- <h2><a [routerLink]="['/Home']">logout</a></h2> -->
                                <a>
                                    <div (click)="examlist=true;instruction=false;"> <img style="width: 40px;float: left;" src="../../../assets/left-arrow.png "></div>
                                </a>

                                <h1 style="text-align: center;">Instruction For Test</h1>
                                <div>
                                    <ul>
                                        <li style="float: left;">The examination will comprise of Objective type Multiple Choice Questions (MCQs).</li>
                                        <li style="float: left;">All questions are compulsory and each carries mark according to level.</li>
                                        <li style="float: left;">The examination will comprise of Three levels,complition of one level will redirect student to another level.</li>
                                        <li style="float: left;">Every student will take the examination on a Laptop/Desktop.</li>
                                        <li style="float: left;">The total number of questions, duration of examination, will be different based on level, the detail is available on your screen.</li>
                                        <li style="float: left;">For Multiple Choice Questions, each question has four options, and the candidate has to click the appropriate option.</li>
                                        <li style="float: left;">There will be NO NEGATIVE MARKING for the wrong answers.</li>
                                        <li style="float: left;">The students just need to click on the Right Choice/Correct option from the multiple choices /options given with each question.</li>

                                    </ul>
                                </div>
                                <div>
                                    <br><br><br>
                                    <button style="width: 180px;border-radius: 5rem;" class="btn btn-lg btn-primary btn-block text-uppercase" (click)="examstarts()">Start Test</button>

                                </div>

                            </div>

                            <div class="instructiontimecounter">
                            </div>

                            <!-- score card display end -->

                            <div class="ExamPage" *ngIf="ExamStarts && presentlevel!=3">

                                <div>
                                    <h1 style="width:200px; float: left;">Level {{presentlevel + 1 }}</h1>
                                    <button style="float: right;width: 150px;border-radius: 5rem;" class="btn btn-lg btn-primary btn-block text-uppercase" (click)="CalculateScore()">Submit</button>
                                </div>

                                <!-- code for counter start -->
                                <div *ngFor="let item of slist">
                                    <div *ngIf="item.SubjectId== getsession">

                                        <p class="instructiontimecounter"> Timer:
                                            <countdown [config]="{leftTime:item.ExamDuration*60}" (event)="timesUp($event)"></countdown>
                                        </p>
                                    </div>
                                </div>
                                <!-- counter end -->

                                <div class="gridContainer">
                                    <div class="btn-group">
                                        <button type="button" class="quesbtn" *ngFor="let item of gridnumber" (click)="switchQsn(item)">{{item}} </button> &nbsp;
                                    </div>
                                </div>
                                <br>

                                <div class="question">


                                    <div *ngFor="let item of qusnlistbysublevel">


                                        <div *ngIf="item.QID==cqid">

                                            <div>
                                                <h3 style="float: left;">Current Question {{cqno+1}}/{{lastqno}}</h3>
                                                <div style="float: right;" class="review">
                                                    <input type="checkbox" name="review" class="ckbox">&nbsp; Review
                                                </div>

                                            </div>
                                            <br>
                                            <br>
                                            <br>


                                            <div style="padding-left: 80px;padding-right: 80ox;">
                                                <p class="quest">{{cqno+1}} . {{item.Qsn}}</p>
                                                <div style="padding-left: 50px;padding-right: 50ox;">
                                                    <p> A. <input type="radio" name="option" value="{{item.Opt1}}" (click)="selectedlist(item.Opt1)" [checked]="item.Opt1==selectoptionlist[cqno]" /> {{item.Opt1}}</p>
                                                    <p> B. <input type="radio" name="option" value="{{item.Opt2}}" (click)="selectedlist(item.Opt2)" [checked]="item.Opt2==selectoptionlist[cqno]" /> {{item.Opt2}}</p>
                                                    <p> C. <input type="radio" name="option" value="{{item.Opt3}}" (click)="selectedlist(item.Opt3)" [checked]="item.Opt3==selectoptionlist[cqno]" /> {{item.Opt3}}</p>
                                                    <p> D. <input type="radio" name="option" value="{{item.Opt4}}" (click)="selectedlist(item.Opt4)" [checked]="item.Opt4==selectoptionlist[cqno]" /> {{item.Opt4}}</p>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                    <br>
                                    <br>
                                    <br>

                                    <button style="float: left ;width: 100px;border-radius: 5rem;" class="btn btn-lg btn-primary btn-block text-uppercase" name="prev" (click)="decrement()" [disabled]="cqno==0">Prev</button>
                                    <button style="float: right;width: 100px;border-radius: 5rem;" class="btn btn-lg btn-primary btn-block text-uppercase" name="next" (click)="increment()" [disabled]="cqno==lastqno-1">Next</button>

                                </div>
                            </div>

                            <!-- score card display div -->

                            <div id="score" *ngIf="Scorediv">


                                <br>
                                <h2 style="text-align: center;" id="pone"><b>Score Card</b></h2>
                                <hr>
                                <h4 style="text-align: center;"><br> Result Status : {{ResultStatus}}</h4>
                                <div style="float:left"><button (click)="generatePDF()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                                    <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                                    <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                  </svg></button></div>


                                <div *ngFor="let item of studlist">



                                    <div *ngIf="item.StudentId==presentstudid">


                                        <div id="divone" *ngIf="pass">

                                            <div style="margin: 10px; text-align: center;" *ngIf="(presentlevel+1)!=3 && ResultStatus!='Fail'">
                                                <br><br>
                                                <p id="pone"><b>Thank You !!!!</b></p>
                                                <p id="pone"><b>You have cleared the level {{presentlevel + 1}}</b></p>
                                                <p id="pone"><b>You can proceed to level {{presentlevel + 2}}</b></p>
                                            </div>
                                            <div style="margin-top: 10px; margin-left: 270px; margin-right: 270px;">
                                                <button style="width: 200px;border-radius: 5rem;" class="btn btn-lg btn-success btn-block text-uppercase" *ngIf="(presentlevel+1)!=3" (click)="next()"> level {{presentlevel + 2}}</button>
                                            </div>
                                            <div *ngIf="(presentlevel+1)==3">
                                                <h1 style="text-align: center;">Congrats for clearing all level</h1>
                                            </div>



                                        </div>



                                        <div id="divone" *ngIf="fail">
                                            <div>
                                                <br>
                                                <p style="margin: 10px; text-align: center;"><b> Please Try Again</b></p>
                                            </div>
                                        </div>

                                        <br>
                                        <div id="divtwo" style=" margin-left: 320px; margin-right: 300px; margin-bottom: 30px; font-weight: bold;">
                                            <table id="tableone">

                                                <tr>
                                                    <td>Name : {{item.Name}}</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Score : {{Score}}</td>
                                                    <td></td>
                                                </tr>
                                                <tr *ngIf="fail">
                                                    <td>Level : {{presentlevel}}</td>
                                                    <td></td>
                                                </tr>
                                                <tr *ngIf="pass">
                                                    <td>Level : {{presentlevel+1}}</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Test :{{subjectname}} </td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                            <br>
                                            <br>
                                            <br>
                                            <button style="width: 100px;border-radius: 5rem;" class="btn btn-lg btn-danger btn-block text-uppercase" (click)="logout()">Exit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="presentlevel==3">
                                <div *ngIf="examlist!=true">
                                    <h1>You Have cleared all the level of this Subject !! Pls Explore Other Subject</h1>
                                    <button style="width: 200px;border-radius: 5rem;" class="btn btn-lg btn-primary btn-block text-uppercase" (click)="examlist=true">Back</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer style="background-color: #153461;">
    <p>
        <b>
    © 2021 Larsen & Toubro Infotech Limited
  </b>
    </p>
</footer>
