.container {
  border-style: solid;
  border-color: black;
  text-align: center;
  display: flex;
  flex-direction:column;
  width: 800px;
  height: 600px;
  margin-top: 20px;
  background-color: rgb(243, 242, 242);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

examlist h1
{
    float:left;
}
h2 a {
  float: right;
  margin-right: 10px;
}

table{
    margin-top: 10px;
}
.domain
{
  position:relative;
  float:left;
  width: 20%;
  height: 60px;
  border: 1px solid;
  text-align:center;
  vertical-align:middle;
  background-color: lawngreen;
    border-radius: 5px;
    margin:30px; 

    text-decoration: none;
    color:black;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 40px;
   

}
.disable
{
  background-color: grey;
}
  .domain:hover {
    transform: scale(1.2,1.2);
    background-color: aqua;
  }

.starttest
{
    margin-top: 150px;
    width:150px;
    height:50px;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-color: black;
}

.instructiontimecounter
{
    margin-top:10px;
    width:100px;
    height:50px;
    font-size: larger;
    font-weight: bold;
    float:left;
}

.ExamPage {
  width: 95%;
  height: 100%;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  align-content:center;
  border-style: solid;
  margin-right: 15%;
  margin-left: 2%;
}

.ExamPage h3{
    float:left;
}


.question {
  float: left;
  height:70%;
  width:100%;
  margin-top: 20px;
  margin-left: 10px;
}

.quest{
    float:left;
}

.questionbutton {
  margin-top: 150px;
  font-size: larger;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  margin-left:20px;
}

.questionbutton:hover
{
      background-color:lawngreen;
      color:black;
}

.questionbutton:disabled:hover
{
  background-color:gray;
      color:black;
}

.scorebutton{
  height:50px;
  width:120px;
  background-color: red;
  text-decoration: none;
  float:right;
  font-size: large;
  font-weight: bold;
}

.gridContainer
{
  float: left;
}

.review
{
  float:center;
  
}