<!-- comment after testing -->

<div>
    <app-home-page></app-home-page>
</div>

<div>
    <app-register-page></app-register-page>
</div>

<div>
    <app-login></app-login>
</div>

<div>
    <app-reset-password></app-reset-password>
</div>

<div>
    <app-report-card></app-report-card>
</div>

<div>
    <app-exam-page></app-exam-page>
</div>
<div>
    <app-search-students></app-search-students>
</div>
<div>
    <app-admin-profile></app-admin-profile>
</div>
<div>
    <app-remove-questions></app-remove-questions>
</div>
<div>
    <app-add-questions></app-add-questions>
</div>