<div class="container">
    
<h1>student detail </h1>

<div >
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            
            <th scope="col">Student Id</th>
            <th scope="col">Student Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Level</th>
            <th scope="col">Marks</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let l of allreplist | paginate: { itemsPerPage: 3, currentPage: p };let i = index">
           
            <th scope="row">{{i+1}}</th>
           
            <td>{{l.studentid}}</td>
            <td>{{l.name}}</td>
            <td>{{l.subject}}</td>
            <td>{{l.slevel}}</td>
            <td>{{l.marks}}</td>
          </tr>
          
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

      <!-- fetching subject n present level -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Student Id</th>
            <th scope="col">Student Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Present Level</th>
           
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let item of levellist;let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.studentid}}</td>
            <td>{{item.name}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.level}}</td>
            
          </tr>
          
        </tbody>
      </table>
      

      <button (click)="back()">Back</button>


</div>


</div>