<div class="container">
    <br>
    <h2 id="pone"><b>Score Card</b></h2>
    <hr>
    <div>
        <input [(ngModel)]="score">
        <button (click)="scorechange()">Check Result</button>
    </div>

    <div id="divone" *ngIf="Pass">
        <div>
            <br><br>
            <p id="pone"><b>Thank You !!!!</b></p>
            <p id="pone"><b>You have cleared the level 1</b></p>
            <p id="pone"><b>You can proceed to level 2</b></p>
        </div>
        <div style="margin-top: 150px;">
            <button class="button"> Level 2</button>
        </div>
    </div>

    <div id="divone" *ngIf="Fail">
        <div style="margin-top: 100px;">
            <br><br>
            <p id="pone"><b> Please Try Again</b></p>
        </div>
    </div>


    <div id="divtwo">
        <table id="tableone">
            <tr>
                <td>Name : </td>
                <td></td>
            </tr>
            <tr>
                <td>Score : </td>
                <td></td>
            </tr>
            <tr>
                <td>Level : </td>
                <td></td>
            </tr>
            <tr>
                <td>Test : </td>
                <td></td>
            </tr>
        </table>
        <button class="button">Exit</button>
    </div>


</div>