<div class="container">

    <div class="menu">
        <ol class="menulist">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">AboutUs</a>
            </li>
        </ol>
        <div class="menubutton">
            <a href="#">Logout</a>
        </div>
    </div>


    <hr>

    <button class="report"><a href="#"> ADD Questions</a></button><br><br>

    <button class="report"><a href="#"> Remove Questions</a></button><br><br>

    <button class="report"><a routerLink="/AddQues"> View Reports</a></button>




</div>