<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Online Exam System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/Home']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="AboutUs=true;buttondiv=false;">About Us</a>
                    </li>
                </ul>

                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/Home']">Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <div *ngIf="AboutUs">
        <hr>
        <p><b>Wellcome to Easy Exam  System!!!</b></p>
        <p>
            This Online Examination System is helpful for students, companies or any organization to conduct any examinations from this site. In this age of increased competition, various companies, organization’s face a common problem of conducting online exam by
            personally visiting to different colleges (in case of companies) for placement drives. this platform will help the deserving candidates to showcase their conceptual skills through an online exam, based on which, the companies can filter out
            candidates according to their needs. Our Exam Management Software provides exams at the local level to facilitate examination. During the exam, strict guidelines are followed and the exam date timetable adheres to them. Our examination process
            is fully automated and no manual intervention is required. Our software allows the proctored exam schedule where a level of exams can be taken. Exam Creator Software enables local and official exam creation where, teachers, administrators,s
            or examiners can create exams based on school capacity and standards. The exam management system is best suited for graduate programs. Our exams can be conducted individually or as a group of students like classes.
        </p>
        <img [src]="myimg">
        <button (click)="buttondiv=true;AboutUs=false;">Back</button>
    </div>
</body>



<!-- <div class="container">

    <div class="menu">
        <ol class="menulist">
            <li>
                <a [routerLink]="['/Home']">Home</a>
            </li>
            <li>
                <a href="#">AboutUs</a>
            </li>
        </ol>
        <div class="menubutton">
            <a [routerLink]="['/Home']">Logout</a>
        </div>
    </div>


    <hr>

    <button class="report" [routerLink]="['/AddQues']"><a> ADD Questions</a></button><br>
    <button class="report" [routerLink]="['/RemoveQues']"><a> Remove Questions</a></button><br>
    <button class="report" [routerLink]="['/ReportCard']"><a> View Reports</a></button><br>
    <button class="report" [routerLink]="['/Search']"><a> Search Student </a></button>

</div> -->
