<div class="container">

    <div class="menu">
        <ol class="menulist">
            <li>
                <a [routerLink]="['/Home']">Home</a>
            </li>
            <li>
                <a href="#">AboutUs</a>
            </li>
        </ol>
        <div class="menubutton">
            <a [routerLink]="['/Home']">Logout</a>
        </div>
    </div>


    <hr>

    <button class="report" [routerLink]="['/AddQues']"><a> ADD Questions</a></button><br>
    <button class="report" [routerLink]="['/RemoveQues']"><a> Remove Questions</a></button><br>
    <button class="report" [routerLink]="['/ReportCard']"><a> View Reports</a></button><br>
    <button class="report" [routerLink]="['/Search']"><a> Search Student </a></button>

</div>