/* .container {
    border-style: solid;
    border-color: black;
    text-align: center;
    display: block;
    width: 800px;
    height: 600px;
    margin-top: 20px;
    background-color: rgb(243, 242, 242);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    ;
} */

.logo-image {
    width: 120px;
    height: 50px;
    overflow: hidden;
    margin-top: -6px;
}

body {
    background: #007bff;
    background: linear-gradient(135deg, #0d6efd, #a0c7e0);
    height: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3687f5;
    color: black;
}

.btnpostn1 {
    padding: 20px;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btnpostn2 {
    padding: 20px;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 62%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logout {
    background-color: red;
}

.menulist li {
    float: left;
    list-style: none;
}

.menulist li a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-weight: bold;
}

.menubutton {
    float: right;
}

.menubutton a {
    text-decoration: none;
    margin-left: 20px;
    height: 30px;
    width: 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: grey;
    margin-right: 20px;
    color: black;
}

button:hover {
    transform: scale(1.1, 1.1);
}

.menu {
    margin-bottom: 30px;
}

hr {
    margin-top: 80px;
    width: 100%;
    border-color: Black;
    border-style: solid;
}

.report {
    height: 100px;
    width: 200px;
    background-color: lawngreen;
    border-radius: 5px;
    margin-top: 30px;
    ;
}

.report a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}
