<div class="container">
   
    <div class="menu">
        <ol class="menulist">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">AboutUs</a>
            </li>
        </ol>
        <div class="menubutton">
            <a href="#">Login</a>
            <a href="#">Register </a>
        </div>
    </div>


    <hr>

    <button class="report"><a href="#"> Report</a></button><br><br>

    <button class="report"><a href="#"> New Exam</a></button>
    

 

</div>