<div class="container">

    <div class="menu">
        <ol class="menulist">
            <li>
                <a [routerLink]="['/Home']">Home</a>
            </li>
            <li>
                <a href="#">AboutUs</a>
            </li>
        </ol>
        <div class="menubutton">
            <a [routerLink]="['/Login']">Login</a>
            <a [routerLink]="['/Register']">Register </a>
        </div>
    </div>


    <hr>

    <button class="report"><a href="#"> Report</a></button><br><br>

    <button class="report"><a href="#"> New Exam</a></button>




</div>